.flex{
    display: flex;
}

.NavFlex{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
}

.fondoNav{
    background-color: rgb(141, 51, 51);
    padding: 20px;
}

.anclas{
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 30px;
    color:white;
    text-decoration: none;
    
}

.carrito{
    color:white;
    font-size: 35px;


}